<nz-footer>
  <nav class="navbar-container">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>
        <a href="#"
          ><span nz-icon nzType="home" nzTheme="outline" class="icon"></span
          ><span class="title">INICIO</span></a
        >
      </li>
      <li nz-menu-item nzSelected>
        <a href="#"
          ><span nz-icon nzType="rocket" nzTheme="outline" class="icon"></span
          ><span class="title">GO</span></a
        >
      </li>
      <li nz-menu-item nzSelected>
        <a href="#"
          ><span nz-icon nzType="logout" nzTheme="outline" class="icon"></span
          ><span class="title">SAIR</span></a
        >
      </li>
    </ul>
  </nav>
</nz-footer>
